* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-y: hidden;
}

.container {
    width: 100%;
}

.container_center {
    display: flex;
    justify-content: center;    
}

.container_header {
    align-items: center;
    height: 80px;
    justify-content: space-around;
}

.container>.container_items {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.container_main {
    display: flex;
    margin: 30px;
}

.section {
    height: 100vh;
}

.ul_main {
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    list-style: none;
}

.ul_vertical {
    flex-direction: column;
}

.ul_header {
    border-radius: 20px;
    display: flex;
    width: 300px;
    padding: 10px;
    justify-content: space-evenly;
    list-style: none;
}

.ul_sort {
    width: 500px;
}

.filter {
    position: fixed;
    width: 260px;
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.5);
    transition: box-shadow .5s ease;
}

.filter:hover {
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.button_main {
    padding: 10px;
    border-radius: 20px;
}

.element_black {
    background-color: rgb(16, 17, 17);
}

.element_dark {
    background-color: rgb(32, 32, 32);
}

.element_light {
    background-color: white;
}

.element_contrast {
    background-color: orange;
}

.link {
    text-decoration: none;
}

.text_main {
    font-size: 14px;
}

.text_light {
    color: aliceblue;
}

.text_contrast {
    font-size: 16px;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    padding-left: 260px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    width: 1200px;
}

.wrapper_space {
    display: flex;
    justify-content: space-between;
}

.filter__item {
    margin-bottom: 10px;
    margin-left: 10px;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 3px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.product_container {
    display: contents;
    text-decoration: none;
}

.product:hover {
    box-shadow: 4px 4px 4px 3px rgba(255, 255, 255, 0.5);
}

.product_container .product *, .product_container .product:hover *{
    color: black;
}

.dataset_popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
}

.dataset_container {
    width: 40vw;
    height: 30vh;
    padding: 30px;
    position: relative;
    display: grid;
    background: white;
}

.popup_close {
    position: absolute;
    top: 0;
    right: 0;
}